
    /*==================
        NECECSSARY CSS
    ===================*/

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800&family=Roboto:wght@100;300;400;500;700;900&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

html,body{
    height: 100%;
    width: 100%;
}

html{
    font-size: 62.5%;
}

:root{
    --primary-text-color: #183b56;
    --secondary-text-color: #577592;
    --accent-color: #2294ed;
    --accent-color-dark: #1d69a3;
    --white-color: #fff;
}

a{
    text-decoration: none;
    color: var(--primary-text-color);
    font-size: 1.6rem;
}

ul{
    list-style: none;
}

    /*==================
        UTILITY CLASSES
    ===================*/

.flex{
    display: flex;
    align-items: center;
    justify-content: center;
}

.image{
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
}

.video{
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.container{
    max-width: 1180px;
    margin-inline: auto;
    overflow: hidden;
}

    /*==================
        HEADER PART
    ===================*/

#header{
    position: fixed;
    top: 0;
    left: 50%;
    transform: translate(-50%,0);
    height: 10vh;
    width: 100%;
    justify-content: space-between;
    background-color: #f3faff;
    z-index: 5;
    padding: 0 3rem;
    margin: auto;
}

.navbar-list{
    gap: 3rem;
}

.logo{
    width: 15rem;
}

.navbar-link{
    font-weight: 600;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
}

.navbar-link:hover ,
.navbar-link:active {
    color: var(--accent-color);
}

.search-input{
    padding: 0.5rem 1rem;
    border-radius: 0.5rem;
    border: 1px solid var(--accent-color);
    outline: none;
    font-family: 'Roboto',sans-serif;
}

.search-btn{
    padding: 0.7rem 2rem;
    color: var(--white-color);
    background-color: var(--accent-color);
    border: none;
    outline: none;
    border-radius: 0.5rem;
    margin-left: 1rem;
    cursor: pointer;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    font-family: 'Roboto',sans-serif;
}

.search-btn:hover{
    background-color: var(--accent-color-dark);
}

#main{
    margin-top: 10vh;
    background-color: #f3faff;
}

.cards-container{
    margin-top: calc(10vh + 5rem);
    display: grid;
    grid-template-columns: repeat(3,1fr);
    row-gap: 2rem;
    column-gap: 2rem;
    padding: 0 3rem;
}

.card{
    border-radius: 0.6rem;
    overflow: hidden;
    box-shadow: 0 0 4px #d4ecff;
    transition: all cubic-bezier(0.19, 1, 0.22, 1)0.5s;
    position: relative;
}

.card:hover{
    background-color: #f9fdff;
    box-shadow: 1px 1px 8px #d4ecff;
    transform: translateY(-2px);
}

.card-header{
    height: 20rem;
    width: 40rem;
}

.card-content{
    padding: 1rem 2rem;
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
}

.card-content > h2{
    font-size: 2rem;
    font-weight: 600;
    color: var(--primary-text-color);
}

.card-content > p{
    font-size: 1.2rem;
    font-weight: 500;
    color: var(--primary-text-color);
}

.card-content > h3{
    font-size: 1.4rem;
    font-weight: 600;
    color: var(--secondary-text-color);
}

.news-link{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    opacity: 0;
}

@media (max-width: 1240px) {
    html{
        font-size: 56.25%;
    }
    .cards-container{
        grid-template-columns: repeat(2,1fr);
    }
}

@media (max-width: 1000px) {
    .cards-container{
        grid-template-columns: repeat(1,1fr);
    }
}

@media (max-width: 800px) {
    #header{
        padding: 3rem;
        min-height: 25vh;
        flex-direction: column;
        justify-content: center;
        gap: 1rem;
    }
    #main{
        margin-top: calc(25vh + 4rem);
    }
}

@media (max-width: 500px) {
    html{
        font-size: 50%;
    }

}